/*main contenido marcas*/
/*
#marcas{
	width: 100%;
	height: auto;
}

	#marcas div{
		width: 100%;
		min-width: 100%;
		min-height: 110px;		
		height: auto;
		border: solid 1px black;
		margin: 0%;
	}
		

		#marcas div:nth-of-type(1){						
			background-image: url('../img/mobileFirst/marcas/3m.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(2){				
			background-image: url('../img/mobileFirst/marcas/3mlittmann.jpg');
			@include proof;				
		}

		#marcas div:nth-of-type(3){				
			background-image: url('../img/mobileFirst/marcas/bbraum.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(4){
			background-image: url('../img/mobileFirst/marcas/beckon.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(5){				
			background-image: url('../img/mobileFirst/marcas/bsn.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(6){				
			background-image: url('../img/mobileFirst/marcas/codman.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(7){				
			background-image: url('../img/mobileFirst/marcas/ethicon.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(8){							
			background-image: url('../img/mobileFirst/marcas/gerdex.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(9){				
			background-image: url('../img/mobileFirst/marcas/hudson.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(10){				
			background-image: url('../img/mobileFirst/marcas/medtronic.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(11){				
			background-image: url('../img/mobileFirst/marcas/riester.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(12){				
			background-image: url('../img/mobileFirst/marcas/sabri.jpg');
			@include proof;
		}

		#marcas div:nth-of-type(13){				
			background-image: url('../img/mobileFirst/marcas/teleflex.jpg');
			@include proof;
		}*/