
/*contenido interactivo del inicio del sitio web (SlideMarcas)*/
/*
#slideMarcas{
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: auto;	
}

	#slideMarcas div img{
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: auto;
	}*/